* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
--white: #ffffff; 
}

html, body {
height: 100vh;
}

body {
    flex-direction: column;
    line-height:normal;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-image: url(../Images/bkground_image.jpg);
    background-size: center;
    background-position: center;
    background-repeat:repeat;
} 

header {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    padding: 30px; 
    background-color: teal;
    color: white;
    width: 100%;
    border:1px solid white;
}

h1 {
    border: 2px dashed white;
    padding: 10px
}

.profile_picture {
    border: 2px solid white;
    border-radius: 5%;
    border-width: 5px;  
    margin-top: 15px;
    margin-left: 30px;
}

/*-- CSS variables */
h2 {
color: var(--white);
text-align: center;
margin: 10px 5px;
}

p {
color: var(--white);
font-size:large;
text-align: justify;
margin: 5px 45px;
}

h4, h5{
color: var(--white)
}

nav ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px white dashed;
}

nav a { 
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    color: white; 
}

li {
    list-style: none;
    padding: 5px;
    margin: 15px;
}

main { 
    display: flex;
    flex-wrap:wrap;
}

.cards_container{
    display: flex;
    flex-wrap: wrap;
}
.card {
    padding: 10px;
    border: 2px solid white;
    border-radius: 3%;
    float: left;
    width:20%;
    margin: 0 auto; 
}

.card-header {
    justify-content: center;
    font-weight: bold;
    padding: 15px;
}

.card-image {
 width: 100%;
}

/* pseudo classes */
nav a:hover { 
    color:darkslategray;
}
.card-image:hover {
opacity: 0.5;
}

.contact_form {
    margin: 0 auto;
}

.form {
    margin: 6px 0px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    bottom: 0;
    background-color: teal;
    color: white;
    border:1px solid white;
}

/* Ipad Pro */
@media screen and (max-width:1030px) {
    .card {
        width: 50%;
    }

    nav {
        flex-direction: column;
    }
}
/* Iphone X */
@media screen and (max-width:375px) {
    .card {
        width: 100%;
    }
    nav {
        flex-direction: column;
    }
}